@import url("https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css");
.dataTables_filter{
	
	border-top: 3px solid #69be28;
	box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    margin-bottom: 1rem;
    
    background-color: #3f4649;
    color: white;
	
}