<div id="app" class="wrapper">
	<!-- Navbar -->
	<app-navbar *ngIf="isLoggedIn()"></app-navbar>
	<!-- /.navbar -->

	<!-- Main Sidebar Container -->
	<app-sidebar *ngIf="isLoggedIn()"></app-sidebar>

	<notifications></notifications>
	<router-outlet></router-outlet>
	

	 <!-- Main Footer -->
  <footer class="main-footer text-sm">
    <strong>Copyright &copy; 2021. </strong>
    All rights reserved.
		   
    <div class="float-right d-none d-sm-inline-block">
      <b>Software Version</b> 1.0.1
    </div>
  </footer>
</div>

